page-zhuanru-ghk {
    .m{
        // background: lightgray;
       }
     
      .s{
        margin-top: 13px;
      }
     .cas{
       background: white;
     }
     .cz{
     
     }
     .x{
       border: 0.05px solid whitesmoke;
     }
     .ms{
       color: white;
     }
     .blue{
         background: lightblue;
     }
     .background{
       background: whitesmoke;
     }
     .button_margin{
         margin-top: 50px;
       }
       .tip{
         background: #FFE4B5;
       }
       .margin_top{
         margin-top: 30px;
       }
}
