page-code {
.tpl{
    background: #e5c3b2; height: 50px;width:50px;
    -moz-border-radius: 25px; -webkit-border-radius:25px;border-radius: 25px;
}
 // .link{ margin-top: 0px}
  .erer{ //margin-top: 200px;
  //  background: lightgray;
  }
  .content{
    background: whitesmoke;
  }
  .tpl{
    background: #e5c3b2; height: 50px; width: 50px;
    -moz-border-radius: 25px; -webkit-border-radius:25px; border-radius: 25px;
   // margin-left: 50px;

  }
  .gid{
    background: white;
    margin-top: 30px;
  }
  .gd{
    margin-top: 10px;
    background: white;
  }
.sm{
  margin-top: 5px;
}
}
