page-teacher{
  .content{
    background: #eee;
  }
  .theme{
    margin-left: 10px;
    color: #808080;
  }
  .item{
    border: 2px grey;
    margin: 0.5%;
    background: white;
    width:49%;
    height: 100px;
    float: left;
    p{
      color:#696969;
      padding-left: 10px; 
      font-size: 12px; 
    }
  }
  .title{
    padding-top: 20px;
    padding-left: 10px; 
    color: red;
    font-size: 20px;
  }
  #icon1{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: #4169e1;
  }
  #icon2{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: #2e8b57; 
  }
  #icon3{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: #ff8c00; 
  }
  #icon4{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: #5f9ea0; 
  }
  #icon5{
    float: right;
    margin-right: 20px;
    font-size: 40px;
    color: #cd5c5c; 
  }
}