
.xs{
background: lightgray;
  margin-top: 5px;
}
  .zt{
background: skyblue;
    margin-top: 5px;
  }
  .px{
    background: skyblue;
    margin-top: 5px;
  }
.find{
 background: lightgray;
  //background-image: url('../../assets/img/雪山.jpg');;
}
.er{
//  background: blue;
  margin-right: -10px;
}
.wx{
  //background: pink;
}
ion-col div{

}
.myxxx{
  border: 0.05px solid whitesmoke;
}
.yq{
  //background: white;
}
.ss{
  height: 150px;
 // width: 550px;
  //background-image: url('../../assets/img/雪山.jpg');;
}
.dhd{
  //margin-top:50px;
}
.studys{
  background: whitesmoke;
}
.spss{
  margin-left: -10px;
}
.hui{
  background: whitesmoke;
}
.yanse{
  background: white;
}
