<ion-header>

  <ion-navbar color="nice">
    <ion-title>公司文章</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding *ngIf="artic_index == 10">
    <div align="center">
      <font size="5px" color="red">中医解码人参：人参与驻颜太后的佳话</font>
    </div>
  
    <div style="margin-top: 15px">
      <font size="2.5px" color="#60646B">
          &emsp;&emsp;中国历史上有一位传奇的“不老太后”，史书上记载，她“年六十时，红颜未衰，望之若四十许”。这位不老的驻颜太后究竟是何人呢？毋庸置疑，她就是鼎鼎大名的慈禧。享年73岁。自1861年至1908年间清朝的实际掌权者，统治中国近半个世纪，在清朝仅次于康熙、乾隆；中国历史上掌权统治时间跨度排名第四。那么这位驻颜太后和人参之间到底有着什么样的故事呢？<hr>
          &emsp;&emsp;慈禧的奢靡毋庸赘述，但在养生驻颜方面，慈禧确实取得了相当的效果。其驻颜之术有多方面的原因，其中服用人参，培补元气，是慈禧抗老驻颜最重要的一方面。人参的功效与作用，大家众所周知。”人参，主补五脏，安精神，定魂魄，止惊悸，除邪气，明目、开心益智，久服轻身延年。慈禧太后常喜欢吃的“八仙糕”、“八珍糕”，皆以人参为主要药物。<hr>
          &emsp;&emsp;据光绪年间《慈禧太后人参底簿》载：西太后“自光绪二十六年十一月二十三日起，至二十七年玄月十八日，计三百三十一天，共用服用人参二斤一两一钱”，即每日一钱，按月包好，天天服用。西太后用药底簿并载有光绪帝向西太后请安时，检查人参是否够用等情况。慈禧享年73岁，容颜不衰，当得益于此。
          
      </font>
    </div>
  </ion-content>
  <ion-content padding *ngIf="artic_index == 9">
      <div align="center">
        <font size="5px" color="red">中医解码人参：人参让你远离失眠</font>
      </div>
    
      <div style="margin-top: 15px">
        <font size="2.5px" color="#60646B">
            &emsp;&emsp;每个人都有过无眠，想睡睡不着，弄的自己很恼火这种情况的发生。但如果一个人长时间失眠的话，可想而知会有多崩溃。<br>
            &emsp;&emsp;王女士今年51岁正处于更年期，她就经常处于焦虑、睡不着，彻夜无眠状态。大家都知道,人如果几天不睡觉，人体是受不了的，身体机能就会出现问题，精神上也会面临崩溃。<br>
            &emsp;&emsp;幸好后来经人介绍找到一位在国内比较有名的中医，中医在诊疗过程中发现她身体特别虚，心气不足，心血不足，结束后给开了一剂药方。其中最主要的就是人参，还有一些镇静安神的药。她大概服用了两周左右，慢慢的找回了睡眠。从最开始一天能睡一个小时，到后来一天能睡5、6个小时。睡眠找回来了，身体自然会感觉到非常舒适，经过一个多月的调理，失眠、焦虑的问题解决了，只剩下更年期的一些问题了，她的精神也不再紧绷了，全家人都轻松了。<br><br>
            &emsp;&emsp;<strong>人参调节中枢神经的功效：安精神·定魂魄·止惊悸</strong><br><br>
            &emsp;&emsp;从这个事例中可以看到人参对于“安精神、定魂魄、止惊悸”治疗睡眠的功效，当你觉得精神不安定，总是感觉心神不宁，心里特别焦躁，胆子又比较小、害怕或者夜梦特别多，心跳特别快的时候服用一定量的人参能够很好的改善。其实人参是最好的安神药食，从现代药理作用来说，它对人体的神经系统的抑制和兴奋作用都有，它是双向的作用，当人过度兴奋的时候它能够有效的抑制。<br>
            &emsp;&emsp;前面的事例中人参主要以治疗病症为主，作为药材使用。那么对于普通人的失眠也同有效么？不是更年期这种精神层面存在一定问题的。如果由于心气不足、心慌、惊悸、胆小害怕、舌头不是特别红，舌苔发黄，那样更加适合。 
        </font>
      </div>
     
    </ion-content>
<ion-content padding *ngIf="artic_index == 8">
  <div align="center">
 <font size="5px" color="red">中医解码人参：人参补肾培元</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;20岁的小张刚刚步入大学校园，过上了无拘无束的生活。当然，和大部分年轻人一样，当前最流行的游戏是他的最爱，大部分时间他都是沉迷于游戏，每天玩到凌晨两三点才休息。和同学朋友吃吃喝喝，吸烟喝酒，长期熬夜，又缺乏锻炼，渐渐的脸色暗黄身材消瘦了许多。
      有一天早晨，他感觉头痛难忍，身体发烫，眼睛有些浮肿。到医院问诊在医生的提醒下，小张做了尿检等检查后，仿佛晴天霹雳——慢性肾衰竭！医生为他开出了长期服用人参等滋补药品的处方。<br><br>
      <strong>据医院数据统计分析</strong><br><br>
      &emsp;&emsp;年轻的肾病患者以IGA肾病、过敏性紫癜肾炎、肾病综合症、乙肝病毒相关性肾炎居多。肾病的症状可表现为程度不同的疲倦、乏力、食欲差、腰膝酸软、眼睑甚至全身浮肿，贫血、高血压发烧、头痛、肚子痛、尿少、呼吸不适等症状。<br>
      &emsp;&emsp;长期熬夜、过度疲劳、烟酒过量等，这些不良生活方式与年轻人肾病高发不无关系。有些年轻人有了慢性肾病的种种症状后总认为自己是肾虚，并不重视，往往等到发现时，病情已很严重了。<br>
      &emsp;&emsp;对于肾虚和肾病的区别可能很多人不太了解。中医所说的“肾”与西医所说的肾是有区别的，西医的肾是一个器官，而中医的“肾”不完全是指肾脏器官，是对一类生理功能的概括。<br>
      &emsp;&emsp;中医的肾虚与西医的肾病临床表现也有区别，肾虚有肾阳虚和肾阴虚之分，肾阳虚症状为“寒”，常见症状有腰膝酸痛、畏寒肢冷、失眠多梦、阳痿、浮肿；肾阴虚症状为“热”，常见症状有燥热、盗汗、虚汗、发脱齿摇、健忘耳聋、动作迟缓等。而肾病常见的临床表现多为尿液异常、水肿、尿量异常、夜尿增多、高血压、肾功能减退等。<br>
      &emsp;&emsp;对肾虚和肾病有了正确的认识才能有效的控制病情，“肾虚”中医重在补，“肾病”西医讲究治。对于“补肾”除了药物辅助调理以外，更应注重日常生活中饮食养生。<br>
      &emsp;&emsp; 关于“补”，中医认为，凡一切虚劳内伤及气、血、津液不足之症，皆可使用人参。人参自古以来被东方医学认为是“滋补养生、扶正固本”之养生极品。<br>
      &emsp;&emsp;据史书记载：人参对人体有“补五脏、安精神、定魂魄、止惊悸、明目开心益智”功效，其味甘、微苦，性微温，归脾、肺、心、肾经，气雄体润，升多于降;具有补气固脱，健脾益肺，宁心益智，养血生津的功效。常用于大病、久病、失血、脱液所致元气欲脱，神疲脉微;脾气不足之食少倦怠，呕吐泄泻，肺气虚弱之气短喘促，咳嗽无力，心气虚衰之失眠多梦，惊悸健忘，体虚多汗，津亏口渴，肾虚阳痿，尿频气虚等。
      
    </font>
  </div>
</ion-content>




<ion-content padding *ngIf="artic_index == 7">
  <div align="center">
    <font size="5px" color="red">中医解码人参：健脾益气良药</font>
  </div>

  <div style="margin-top: 15px">
      <font size="2.5px" color="#60646B">
      &emsp;&emsp;生活中，经常的见到有人有精神困倦、四肢软弱、气短懒言、头昏自汗、食欲不振、胃胀隐痛、便溏腹泻、舌质淡苔白等症状，不明就里的说，这人身体太虚弱了。<br>
      &emsp;&emsp;西医检查说，这是患有慢性胃炎、慢性肠炎、胃十二指肠溃疡、慢性肝炎、贫血、白细胞减少症等疾病。而中医的理论则说这是脾虚气弱所引起的，治疗当以健脾益气为主。<br>
      &emsp;&emsp;健脾益气吃什么好呢?推荐人参。<br>
      &emsp;&emsp;人参具有大补元气、补脾益肺、生津安神的作用，故临床多用于体虚欲脱、脾虚食少、肺虚喘咳等症。人参经加工后很多活性成分增加，药效增强，补益作用加强。因药物相互作用，故服用此汤期间不能食用含有藜芦、五灵脂成分的药物。 
    </font>
  </div>
  
</ion-content>

<ion-content padding *ngIf="artic_index == 6">
  <div align="center">
    <font size="5px" color="red">中医解码人参：更安全的明目佳品人参</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
        &emsp;&emsp;《神农本草经》中对人参有这样的记载：“味甘微寒。主补五脏，安精神，定魂魄，止惊悸，除邪气，明目，开心益智。久服，轻身延年。<br>
        &emsp;&emsp;现代医学中，人参的明目的作用似乎被慢慢淡化，人们更多认可的是人参大补元气等功效。然而不只是《神农本草经》，很多本草相关的书籍中也都有关于人参能够明目的记载，如《本草从新》、《滇南本草》、《本草崇原》等本草文献，都提到了人参明目这一功效。<br>
        &emsp;&emsp;从古至今，以人参为主要药材来治疗眼部疾病的方剂不胜枚举，将配伍好的人参用于防止和保护眼睛也是屡见不鲜。<br>
        &emsp;&emsp;很多人会对人参明目的功效存在疑问，人参为什么能够明目呢？人参中含有明显能作用于眼睛的成分吗？<br>
        &emsp;&emsp;人参中有一种成分是人参皂苷Rg3,这种成分能够抑制角膜新生血管的生长，从而能够有效防止视力的下降。人参皂苷Rb2则有改善增殖性玻璃体视网膜病变导致的视力障碍的作用。人参中还有其他的成分能够起到抗疲劳、改善眼部一系列问题的功效。<br>
        &emsp;&emsp;虽然人参中能作用于眼部的成分并不是很多，但是各种本草的文献都提及人参的明目功效与人参补五脏的功效密不可分。我们知道有一种说法是清气下陷，耳目不聪不明，如果阳气日盛，则耳目聪明。人参有补元气之功效，五脏被调理清晰，向上也就能起到明目作用。有很多眼部疾病源于气血两虚，治疗这种症状应该选取补气养血的方法，炖服人参在帮助治疗上效果明显。<br>
        &emsp;&emsp;《神农本草经百种录》中认为人参“明目，五脏六腑之精皆上注于目，此所云明，乃补其精之效，若非他药，专有明目之功也”。<br>
        &emsp;&emsp;《本草经解》中记载人参“明目…五脏藏阴者也，五脏得甘寒之助，则精气上注于目而明矣…”<br>
        &emsp;&emsp;由此可见，人参对于内脏的调节直接促使眼目明净。虽然目前现代医药学书籍关于人参明目功效的记载并不是很多，但是从很多治疗眼部疾病的药品中，我们都会发现人参的成分。
        

    </font>
  </div>
</ion-content>

<ion-content padding *ngIf="artic_index == 5">
  <div align="center">
    <font size="5px" color="red">人参壮阳，可谓“天然伟哥”</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;提高精子活力、改善睾丸功能……<br>
      &emsp;&emsp;法国人称其“爱之秘药”<br>
      <img src="assets/img/article/a5-1.jpg">
      &emsp;&emsp;在古代，乾隆和朝鲜最长寿的国王英祖，都视人参为最好的补药，长期服用，最后得享长生，他们到了晚年都仍然有性生活的记录，可见人参对于性能力的提升是功效卓越的。<br>
      &emsp;&emsp;人参是一种壮阳食品，这一观点在欧洲也广为人知。在法国著名时事周刊《新观察家》1991年8月15日刊上，封面报道中以“爱之秘药”为标题，介绍了人参的功效。报道中，性医学专栏记者科韦恩贝勒格（크웨인베르그）博士强调“人参的学名——Panax，意为万灵药。人参是一种恢复元气，促进性荷尔蒙分泌的自然壮阳药”。
      <img src="assets/img/article/a5-2.jpg">
    </font>
  </div>
</ion-content>

<ion-content padding *ngIf="artic_index == 4">
    <div align="center">
      <font size="5px" color="red">对预防酒精性、脂肪性肝病效果极佳</font>
    </div>
  
    <div style="margin-top: 15px">
      <font size="2.5px" color="#60646B">
          &emsp;&emsp;主要问题在于酒精性肝炎和脂肪性肝病。这两种疾病的患者日益呈现增加态势。尤其因饮酒和肥胖带来的脂肪肝患者比率极高。据国际肝脏学会资料显示，国际脂肪肝患者从1988年的7%，2007年急剧增至28%，20年间增长了4倍。得了脂肪肝若不接受治疗或继续饮酒，就会恶化为酒精性肝炎和肝硬化。<br>
          &emsp;&emsp;就这一问题，在第十届国际人参研讨会上发表了进口红参改善脂肪肝，并有效抑制脂肪在肝脏内异常蓄积而引起脂肪肝因素的临床研究成果，备受世人瞩目。证明了国际人参对预防因高脂肪饮食导致的脂肪肝及肝损伤具有效果。<br>
          &emsp;&emsp;国际人参公社R&D总部宋龙范博士研究小组研究结果发现，从肝脂肪和肝中性脂肪是诱发脂肪肝的因素这一点来看，红参可有效改善脂肪肝。”<br>
          &emsp;&emsp;由于高脂肪饮食的增加，脂肪肝患者呈急剧增加态势。
          <img src="assets/img/article/a4-1.jpg">
          <img src="assets/img/article/a4-2.jpg">
          <img src="assets/img/article/a4-3.jpg">
          <img src="assets/img/article/a4-4.jpg">
      </font>
    </div>
  </ion-content>
  
  <ion-content padding *ngIf="artic_index == 3">
      <div align="center">
        <font size="5px" color="red">与药物并用，可极大提高治疗效果</font>
      </div>
    
      <div style="margin-top: 15px">
        <font size="2.5px" color="#60646B">
            &emsp;&emsp;为人参治疗疾病的研究划上一笔浓重墨彩的研究小组，正是埃及国立研究所的莫萨德博士研究小组。莫萨德博士仅在国际学术杂志上发表的论文就多达110篇，担任着20家国际学术杂志的监督委员，可谓国际学术界泰斗。2007年至2009年分别被评选为“本年度世界医学家（International Health Professional）”。目前还担任5家国际学术杂志的联合编辑。<br>
            &emsp;&emsp;研究小组以罹患肝癌或丙型病毒性肝硬化（丙型肝炎恶化为肝硬化）的两组患者为对象进行临床实验。将男女各30位患者分为药物治疗及服用红参并行的实验组和只做药物治疗的对照组，观察11周后证实，每日服用600mg红参同时并行药物治疗的丙型病毒性肝硬化患者与只做药物治疗的对照组相比，男性患者血液中病毒数减少91.8%，女性患者减少41.6%。<br>
            &emsp;&emsp;肝癌患者临床试验结果也与此相似。对肝癌患者采取药物治疗的同时，每日服用900mg红参，其结果发现，作为肝癌指标的甲胎蛋白（α-fetoprotein，AFP）的含量，男性患者减少47%，女性患者减少71%。此外，血液中胆红素、蛋白质、凝血素数值也得到明显改善。服用红参的两组均无任何副作用，从而红参在肝硬化和肝癌治疗方面所具有的可能性备受瞩目。两种疾病仅采用药物治疗时，患者未出现有意义的变化。<br>
            &emsp;&emsp;莫萨德博士研究小组称，“肝癌是世界第五大大众性癌症。过去10年间，全世界范围内的发病率每年增加3~9%，已成为一种非常可怕的疾病。对现有药物治疗无效的患者，采用高丽红参并行治疗得到显著好转。通过本次实验得出结论，高丽红参对于治疗丙型病毒性肝硬化和肝癌具有明显效果。”<br>
            &emsp;&emsp;虽然莫萨德博士说肝癌是世界第五大癌症，但在国内，情况却更加严重。肝癌已成为国内仅次于肺癌的第二大致死原因癌症病种。尤其肝癌已与胃癌、肺癌一起，成为男性三大多发癌症。
            <img src="assets/img/article/a3.jpg">
          </font>
      </div>
    </ion-content>

    <ion-content padding *ngIf="artic_index == 2">
        <div align="center">
          <font size="5px" color="red">进口人参有效治疗肝癌和肝硬化！</font>
        </div>
      
        <div style="margin-top: 15px">
          <font size="2.5px" color="#60646B">
              &emsp;&emsp;埃及莫萨德博士研究小组经过研究率先查明…<br>
              &emsp;&emsp;红参对于改善脂肪肝及预防肝损伤具有明显效果<br>
              <img src="assets/img/article/a2.jpg">
              &emsp;&emsp;任何一位稍有关注健康的人，都知道一些人参所具有的治疗效果。抗癌、改善血流、增强免疫力、抗糖尿病、改善更年期症状、抗疲劳、缓解压力、壮阳、皮肤美容、解宿醉、防头晕、提升大脑机能……，这些功效并没有记载于古代东方医学文献之上，而是现代科学通过过去50年间各种临床实验证实得出的结果。迄今为止，仅人参功效相关论文就多达6000余篇。如此发展下去，在不远的将来，“人参”一词前面经常附加的修饰语“长生不老的圣药”以及人参的学名“Panax Ginseng”的原意有可能会判定为事实。“Panax”为希腊语，意指“万灵药”。<br>
              &emsp;&emsp;之前可能是因为没有明确的研究成果，甚至有人还会以“人参的毒性加重肝脏负担”来否定人参对肝病的治疗或预防功效。但是在2010年9月中旬，由进口人参学会主办，农林水产食品部赞助举办的第10届国际人参研讨会上，发表了令人震惊的临床研究成果。这就是进口人参（红参）不但对普通肝病具有功效，对肝癌和肝硬化的治疗也具有明显功效。
          </font>
        </div>
      </ion-content>

      <ion-content padding *ngIf="artic_index == 1">
          <div align="center">
            <font size="5px" color="red">人参的种类</font>
          </div>
        
          <div style="margin-top: 15px">
            <font size="2.5px" color="#60646B">
                &emsp;&emsp;随不同的加工方法，分为水参、白参和红参<br>
                水参<br>
                &emsp;&emsp;指从参田中收获的未经加工的人参。因其未进行干燥加工称做水参，也称为生参。水参含有约75%的水份，难以存放一周以上。流通过程中易腐烂或受损。因此，若要长期存放就需要进行加工，随不同的加工方法，人参的名称也各不相同。<br>
                <img src="assets/img/article/a1-1.jpg">
                白参<br>
                &emsp;&emsp;水参去皮后，在阳光或热风下干燥，使水份含量降至14%以下。可长期存放。随干燥状态的不同，又分为直参、半曲参（从参须至参体弯成半圆）、曲参（参须及参体部分卷起）。<br>
                <img src="assets/img/article/a1-2.jpg"> 
                太极参<br>
                &emsp;&emsp;参在沸水上蒸或烫过后晾干制成，不常见。<br>
                <img src="assets/img/article/a1-3.jpg">
                红参<br>
                &emsp;&emsp;水参带皮通过蒸汽或其它方法蒸过后晒干。在蒸的过程中，成分发生变化，这类人参中皂苷成分种类最多，含量最高。
                <img src="assets/img/article/a1-4.jpg">
            </font>
          </div>
        </ion-content>
 
