<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="nice">
    <ion-title>公司文章</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngIf="artic_index == 1">
  <div align="center">
 <font size="5px">天参密码是什么？</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;天参密码由100%进口高丽人参，联合中国科学院红参研发中心，集合中韩两国顶级制参大师，采用四大核心制参科技制作而成。
    </font>
  </div>
<div>
  <font size="2.5px" color="#60646B">
    &emsp;&emsp;天参密码是高效、安全、方便的高端滋补品。
  </font>
  </div>
  <div>
  <font size="2.5px" color="#60646B">
    &emsp;&emsp;天参密码是具有权威认证的滋补品，由中国科学院红参研发中心推荐，CCTV-2、CCTV-13等央视频道宣传的滋补品。
  </font>
  </div>
  <div>
  <font size="2.5px" color="#60646B">
    &emsp;&emsp;环翠楼天参采用高丽参源苛选工程及去火归衡调理技术，确保产品服用更加安全；
  </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;采用的去火归衡调理技术，由首代国医大师亲自指导，采用三大绝密技术，破解了人参易上火的难题。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;采用100%韩国进口高丽人参，从土壤到水源、从种子到空气，每颗原料参都要通过294次专业检测，无激素、无农药残留、无重金属超标，更安全。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;而且用于制作环翠楼天参的高丽参入选率不足20%，每一颗都是精挑细选，保证最佳品质。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;使得天参产品不上火、无激素、无农药残留、无重金属超标，更安全。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;天参密码产品无论服用还是携带都是非常方便的。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;天参密码产品采用干法制粒技术，直接口内含服，服用是非常方便的，不像传统的红参产品，需要炖、泡等；
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参加工成红参后，药力由猛变衡，“颜色革命”让人参功效倍增
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;首代国医大师张灿玾亲自指导，中韩顶级专家通力合作，经历数千次试验，消耗数吨红参原料，成功破译人参易上火密码
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参从此不上火，这就是天参密码。
    </font>
  </div>
</ion-content>


<ion-content padding *ngIf="artic_index == 2">
  <div align="center">
    <font size="5px">天参密码适用的人群</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      1.女性美容养颜、宫寒痛经的调养 <br>
      2.男性补肾壮阳、秘精益气<br>
      3.糖尿病的预防与辅助治疗<br>
      4.高血脂、血管类疾病患者的调理<br>
      5.年老体质衰退者的调理<br>
      6.大病或手术后恢复<br>
      7.手脚冰凉、胃寒怕冷、气血不足者的调理<br>
      8.对烟酒过量或长期服药者的身体修复<br>
      9.癌症的预防与辅助放化疗<br>
      10.体弱多病者的免疫系统增强<br>
      11.健康、亚健康人群的日常滋补养生<br>
      12.老年痴呆、帕金森的预防与辅助治疗
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参具有缓解疲劳，提高思维活动和体力劳动效率，增加适应能力的作用。
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;韩国人参烟草研究院的研究小组将23位足球运动员分成两组，实验组每天服用3次，每次500mg的红参提取物，服用12周，对照组服用安慰剂。服用前后进行了四次“渐近负荷最大运动量”测量，结果发现，服用红参的实验组在12周后，最大负荷运动时，平均心跳数明显低于服用安慰剂的对照组。说明，高丽红参具有提高细胞能量，抗疲劳，增加适应能力的作用。
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;高丽红参中含有大量的人参皂苷Rb1、Rg1，具有恢复受损记忆力、提高认知功能、养心安神等作用；如：人参皂苷Rh能改善睡眠和情绪，调节不同类型的神经衰弱功效明显。
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;首尔大学金万浩（김만호）教授研究小组也发表了人参对改善老年痴呆病患者认知功能具有重大效果的研究成果，表明人参对防治痴呆具有良好效果。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;解酒保肝，调节肝脏功能，减少酒精对肝脏的伤害，减少肝纤维化，预防和辅助治疗肝癌。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;高丽红参中的人参皂苷成份Rh1和Ro能够促进肝脏的解毒、排泄、代谢和免疫，促进肝脏再生恢复，促进乙醇代谢物迅速排出，从而减轻宿醉，减少对肝脏的损害，有效防治肝损伤、慢性肝炎、脂肪肝、酒精肝、肝硬化。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参皂苷Rg1能改善皮肤的微循环，强化细胞活力及皮肤营养的供给，促进皮肤滑润、柔软，对防治粉刺、痤疤、黄褐斑有良好的功效，能防止脱发和白发，并可提高头发的柔顺、抗拉强度。
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;高丽红参具有抗皱养颜、抗炎、抗过敏、改善特异性反应、防老化、缓解更年期症状的功效。

    </font>
  </div>
</ion-content>

<ion-content padding *ngIf="artic_index == 3">
  <div align="center">
    <font size="5px">四大制参科技，破解天参密码</font>
  </div>

  <div style="margin-top: 15px">
    <font size="3px" color="black">
      &emsp;&emsp;密码一、洁净参源苛选工程
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;天参密码按GAP规范种植，优中选优，品质超众：入选原料不超过20%。根据中韩两国标准，农药残留均未检出，重金属含量远低于标准要求，安全放心。
      在国内，由于长久以来的农药滥用导致土地农残量极高，且降解周期动辄数十上百年，所以导致许多地方出产的人参农残普遍超标，甚至有多地人参检验出全世界范围内禁用的DDT、六六六等剧毒农药残留。
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;而进口有机人参因其种植方式标准化程度高，监管严，农药残留、重金属含量也符合标准，能够放心服用。
    </font>
  </div>
  <div>
    <font size="3px" color="black">
      &emsp;&emsp;进口原料 / 中国品牌
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;经过对世界各大知名参源产区的考察，公司最终圈选了国外四大优质参源种植基地，以超过国内五到十倍以上的原料成本来保障天参密码所有参源均为安全放心的无污染高品质人参。从土壤到水源、从种子到空气，每棵原料参都至少经历81次以上专业检测，充分保证了原料质量。
    </font>
  </div>

  <div>
    <font size="3px" color="black">
      &emsp;&emsp;密码二、去火归衡调理技术
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;众所周知吃人参上火，人参加工为红参之后，效力随之增加，但性味也由微温变为温。这也是为什么少有人使用红参作为日常滋补品的主要原因。<br>
      &emsp;&emsp;红参中含有30多种人参皂苷以及人参多糖、人参炔醇等精华成分，自成天然大复方，任何添加都可能影响它的效果发挥。如何在不添加其它药物的情况下，通过加工工艺，使之平补阴阳，不火不燥，成为环翠楼科研团队的重要课题。<br>
      &emsp;&emsp; 环翠楼科研带头人高晖富邀请首代国医大师张灿玾亲自指导，多国顶级专家通力合作，经历数百次实验，消耗数吨红参原料，终于通过三大绝密技术、上百道严谨工序破解人参易上火的千古难题。
    </font>
  </div>

  <div>
    <font size="3px" color="black">
      &emsp;&emsp;密码三、精华转化倍增技术
    </font>
  </div>

  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;根据现代科学研究发现，红参的效果大小主要由精华成分的含量来决定，而被学界认为最有药用价值的Rg3、Rh2等具有抗癌活性的稀有人参皂苷只有在红参中才具有，如果转化出更多的稀有人参皂苷，也就意味着效果的提升。<br>
      &emsp;&emsp;环翠楼中外专家团队利用多年科研结晶，在保留红参整体各成分间的协同作用前提下，稀有人参皂苷含量在普通红参原有基础上增加3～4倍，精华倍增，效用更显著。
    </font>
  </div>

  <div>
    <font size="3px" color="black">
      &emsp;&emsp;密码四、多倍释放高能破壁技术
    </font>
  </div>
  <div>
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参的有效成分包括人参皂苷、人参多糖、人参烯、人参炔醇、人参挥发油等多种化合物，其精华成分大多蕴藏在细胞壁内，传统服用方式难以充分溶出，对人参 （红参）这种珍贵原料难以充分物尽其用。破壁技术经过多年实践运用，已被证实对于精华成分的释放有着显著的作用。但传统破壁技术存在加工时间长，导致有效成分易损失、破壁不完全等问题；
      &emsp;&emsp;环翠楼联合中科院研发全新破壁技术，将破壁时间大大缩短，将易挥发成分的损失降到最低，且破壁率达到99.3%；再经过干法制粒工艺制成便于含服的颗粒，不但使吸收率大大提高，含服时间也缩短为2～5分钟，方便快捷。
      &emsp;&emsp;实验证实，天参密码的总溶出度比整支参及粗粉高30多倍，且其中有大量人参皂苷Rg1、Rb1溶出；而整支参和粗粉在此时间段均未测得。
    </font>
  </div>
</ion-content>

<ion-content padding *ngIf="artic_index == 4">
  <div align="center">
    <font size="5px">人参、红参、天参，到底有什么分别？</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;人参：人参是传统名贵中药，位居中药三宝之首，因其功效广泛，无论救治疾病还是日常养生均有良好疗效，故而被称之为“百草之王”。人参已有四千年的应用历史，无论古代还是现代，人参均被人们奉为“滋补圣品”。<br>
      &emsp;&emsp;殷商时代，甲骨文就有记载人参；秦汉时期，中国最早的药学专著《神农本草经》称人参为药中上品；汉代的张仲景在《伤寒论》中记载使用人参的方剂占比高达20%；明、清之际，人参获得了“百草之王”、“众药之首”的至高无上的地位，成为用药首选；清代滋养首重人参，乾隆封人参为“仙丹”，对人参情有独钟并亲笔御书“咏人参”：“性温生处喜偏寒,一穗垂如天竺丹。”每日服用人参，享年89岁，为历史上著名的高寿皇帝。<br>
      &emsp;&emsp;在西方，人参被叫做Panax ginseng C. A. Mey（“Panax”来源于希腊语，意味：包治百病）；在现代，无论是日常保健还是疾病防治，人参的应用都非常广泛，尤其是在南朝鲜，人均服用多达200克，足见对人参的推崇和信赖。<br>
      &emsp;&emsp;红参：首先，红参就是人参，红参是人参的一种熟制品，其加工方法是人参经过浸润、清洗、分选、蒸制、晾晒、烘干等工序加工而成。明万历三十五年辽东马市被关，致女真族人参腐烂十于万斤，努尔哈赤改进制作方式以长期保存。谁知无心插柳柳成荫，人参经过蒸晾晒等工艺以后，不仅保存时间大大加长，颜色也从白变红，药力由猛变恒，这就是红参的起源。人参加工成为红参以后，在保留人参各种功效的基础上，炮制过后性情变温，效能又猛转恒，精华成分含量更多，更利于日常滋补强身。<br>
      &emsp;&emsp;中医说红参：大补元气（先天之气），被誉为滋补圣品。<br>
      &emsp;&emsp;主补五脏，安精神，定魂魄，止惊悸，除邪气，明目、开心、益智。久服，轻身延年。--《神农本草经》<br>
      &emsp;&emsp; 治男妇一切虚证，发热自汗，眩晕头痛，反胃吐食，疾虐，滑泻久痢，小便频数淋沥，劳倦内伤，中风中暑。—《本草纲目》<br>
      &emsp;&emsp; 红参：甘、微苦，温；归脾、肺、心、肾经。其功能主治为：大补元气，复脉固脱，益气摄血。用于体虚欲脱，肢冷脉微，气不摄血，崩漏下血。—《中国药典2015》<br>
      &emsp;&emsp;西医认为：人参内含有多种对人体有益的化合物，其有效成分包含人参皂苷、人参酸、人参活性酶、人参多肽、人参多糖、人参挥发油、人参炔醇等，人参加工为红参后精华成分含量更多，其中Rg3、Rh2等稀有人参皂苷是红参中最具价值的精华成分。<br>
      &emsp;&emsp; 红参有效成分相互之间的协同作用机理尚未完全破译，但临床有效性已得到充分验证。经现代医学证实，红参对人体中枢神经系统、免疫系统、心血管系统、内分泌系统等均具有良好的调节作用，具有抗休克，促进人体糖、蛋白质和脂肪代谢以及抗衰老等作用。<br>
      &emsp;&emsp; 天参：天参（傲娇的讲，我们家的人参原料就全部用的是天参级别的）是人参的一种品级说法。高丽参按其粗细、外形、光泽好坏等分成分成天、地、人三个等级和等外品（尾参）；北朝鲜鲜参分为天、地、人、翁四个等级；南朝鲜鲜参分为天、地、良、切四个等级：天参（一级品），地参（二级品），良参（三级品），切参（四级品）。说简单一点，天、地、人、翁（或天、地、良、切）对应优、良、中、差。

    </font>
  </div>
</ion-content>

<ion-content padding *ngIf="artic_index == 5">
  <div align="center">
    <font size="5px">滋补首选天参密码 久服轻身延年</font>
  </div>

  <div style="margin-top: 15px">
    <font size="2.5px" color="#60646B">
      &emsp;&emsp;有人说：“吃了红参，人体就会发热”，或者说：“火大的体质，不适合吃红参，尤其在高温地区生活的人更不适合吃”；还有人在吃参鸡汤的时候爱把人参挑出去；也有人将西洋参与人参作对比，说西洋参滋阴降火，而人参提气助火，所以人参不适合热带地区服用。可红参真的会“升热”吗？<br>
      &emsp;&emsp; 以上的问题，在中医看来，所谓的热性只是说药物的四种药性——温、热、寒、凉、平。但是无论是人参还是红参都属性温，不属热性。<br>
      &emsp;&emsp;一生致力于天然物质科学和天然药物领域研究事业的首尔大学药学院韩龙南(한용남)名誉教授(理学博士)，通过科学的临床实验发现起到“升热”作用的实质物质。从长达7年的实验中得出一个结论——“无论是人参,还是花旗参，吃时体温都没有变化，人们只是主观上感觉发热”。<br>
      &emsp;&emsp;另外，韩博士还表示,“这与我们吃饭后身体发热,感觉有劲儿相同”。还称,“这种感觉,也就是一种热感,是人参促进身体代谢带来的,通过有关人参的临床实验证实,体温并没有变化,只是增加了血流量和血流速度”。也就是说,若把人参的升热作用当作人参功效指标,反而会得出“若是没有升热作用就不是人参”的结论。因此,韩博士认为与引起人们误解的“升热”一词相比,意指提高整个身体元气与力量的“升气”、“升力”更为贴切。人参与花旗参相比,更加促进人体的代谢作用,服用大剂量花旗参时,这种作用反而急剧下降,这一点也已经被发现。即人参在功效方面优于花旗参已得到了证实。因此,“吃人参后身体发热”、“火大的体质不适合”或“热带地区人们服用有害”等说法其实不正确的。<br>
      &emsp;&emsp;而上海中医药大学教授徐德生也认为，盛夏时节服用红参，不仅不易上火能够加快血液循环，从而使体表温度上升，减少因排汗引起的气脉损失，是有利于健康的。很多人认为红参使人发热而不敢服用，这是一种错误的认识。另外医书记载，高丽红参还具有保持五脏功能正常的效果，常服久服，轻身延年，开心、益智等作用。


    </font>
  </div>
</ion-content>
