page-order {
 .background{
   background: #eee;
 }
 .order{
   background: lightgray;
 }
.back{
  background: lightsalmon;
}
  .bb{
    background: lightyellow;
  }
.col{
  flex-flow: row wrap;
}
.gsjs{
  color:black;
}
.list_style{
  background: white;
}
.img{
  background: white;
}
.cut{
  background: #e5c3b2; height: 50px; width: 50px;	
}
.ckxq{
  margin-right: 0px;
  font-size: 5px;
  padding: 1px;
}

}
