<ion-header>
<ion-navbar color="nice">
 <ion-title> 我的订单</ion-title>
</ion-navbar>
</ion-header>


<ion-content class="background">
   <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="刷新中..."></ion-refresher-content>
  </ion-refresher>
            <!-- (swipe)="swipeEvent($event)"-->
  <ion-toolbar no-border-top  >
    <ion-segment [(ngModel)]="segmentModel"  class="head">
      <ion-segment-button value="0" >
        <h6 class="gsjs">
          待付款 </h6>
      </ion-segment-button>
      <ion-segment-button value="2">
        <h6 class="gsjs">
          待发货 </h6>
      </ion-segment-button>
      <ion-segment-button value="3">
        <h6 class="gsjs">
          待收货</h6>
      </ion-segment-button>
      <!--ion-segment-button value="4">
        <h6 class="gsjs">
          待评价</h6>
      </ion-segment-button-->

      <ion-segment-button value="6">
        <h6 class="gsjs">
          历史订单</h6>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div [ngSwitch]="segmentModel">
    <ion-list *ngSwitchCase="'0'" class="list_style" no-padding>
      <p  *ngIf = "flag_daifukuan" text-center>
  <font size="5px" color="#b0c4de">
    暂无相关订单
  </font>
</p>
      <ion-grid *ngFor="let shop of daifukuanList">
        <ion-row *ngIf="shop.flag == false || 0">
          <font size="3px" color="#add8e6" text-center style="margin-left: 5px">礼包</font>
        </ion-row>
        <ion-row>
           <ion-col style="color:red;">订单号:{{shop.order_id}}</ion-col>
        </ion-row>
        <ion-item  class="background" no-padding *ngFor="let item of shop.order_v2_items">
          <ion-row>
          <ion-col><img   class="cut"  src="{{item.item_images.split(',')[0]}}"></ion-col>
           <ion-col text-wrap>
            <div>{{item.item_name}}</div>
            </ion-col>
          <ion-col text-end>
            ￥ {{item.item_price}}
            <p style="margin-top:2px">× {{item.count}}</p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-end>
          <p style="color:black"><font size="1px"> 总价 ￥{{shop.order_user_total_money_raw}} &nbsp;&nbsp; 已优惠 ￥{{shop.order_user_total_money_discount}} &nbsp;&nbsp;还需付 ￥{{shop.order_user_total_money_need_pay}}</font></p>
           <ion-row>
              <ion-col>
                <button ion-button outline small round *ngIf="shop.receiver_type == 1" (click)="xiangqing(shop.order_id)">提货详情</button>
                <button ion-button outline small round *ngIf="shop.receiver_type == 0" (click)="xiangqing(shop.order_id)">收货详情</button>
                <button ion-button outline small color="danger" round (click)="cancleorder(shop.order_id)"><font size="0.1px">取消订单</font></button>
                <button ion-button outline small color="danger" round (click)="zhifu_dingdan(shop.order_id)"><font size="0.1px">支付订单</font></button>
              </ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag" >
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px"> 自提地址：{{shop.order_shop.shop_address_detail}}</font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px"> 收货地址：{{shop.order_receiver.receiver_address_detail}}</font></ion-col>
            </ion-row>
        </ion-item>

      </ion-grid>


    </ion-list>

    <ion-list *ngSwitchCase="'2'" class="list_style" no-padding>
            <p  *ngIf = "flag_daifahuo" text-center>
                <font size="5px" color="#b0c4de">
                暂无相关订单
             </font>

            </p>
         <ion-grid *ngFor="let shop of daifahuoList">

        <ion-row>
           <ion-col col-9 style="color:red;">订单号:{{shop.order_id}}</ion-col>
          <ion-col *ngIf="shop.flag == false || 0">
            <font size="3px" color="red" text-center style="margin-left: 5px">礼包</font>
          </ion-col>
        </ion-row>
        <ion-item  class="background" no-padding *ngFor="let item of shop.order_v2_items">
          <ion-row>
          <ion-col><img   class="cut"  src="{{item.item_images.split(',')[0]}}"></ion-col>
           <ion-col text-wrap>
            <div>{{item.item_name}}</div>
            </ion-col>
          <ion-col text-end>
            ￥ {{item.item_price}}
            <p style="margin-top:2px">× {{item.count}}</p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-end>
          <p style="color:black"><font size="1px">总价 ￥{{shop.order_user_total_money_raw}} &nbsp;&nbsp; 已优惠 ￥{{shop.order_user_total_money_discount}} &nbsp;&nbsp;还需付 ￥{{shop.order_user_total_money_need_pay}}</font></p>
            <ion-col text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1"><font size="3px" color="#ffab3d">电子提货码：{{shop.order_shop.delivery_code}}</font> </ion-col>
           <ion-row>
              <ion-col>
                <button ion-button outline small round *ngIf="shop.receiver_type == 1" (click)="xiangqing(shop.order_id)">提货详情</button>
                <button ion-button outline small round *ngIf="shop.receiver_type == 0" (click)="xiangqing(shop.order_id)">收货详情</button>
              </ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag" >
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px"> 自提地址：{{shop.order_shop.shop_address_detail}}</font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px"> 收货地址：{{shop.order_receiver.receiver_address_detail}}</font></ion-col>
            </ion-row>
        </ion-item>

      </ion-grid>

    </ion-list>

    <ion-list *ngSwitchCase="'3'"  class="list_style" no-padding>
          <p  *ngIf = "flag_daishouhuo" text-center>
                <font size="5px" color="#b0c4de">
                暂无相关订单
             </font>

            </p>
      <ion-grid *ngFor="let shop of daishouhuoList">
        <ion-row *ngIf="shop.flag == false || 0">
          <font size="3px" color="#ff7f50" text-center style="margin-left: 5px">礼包</font>
        </ion-row>
        <ion-row>
           <ion-col style="color:red;">订单号:{{shop.order_id}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>运单号：{{shop.shipping_no}}</ion-col>
          <ion-col>快递公司:{{shop.shipping_company_name}}</ion-col>
        </ion-row>

        <ion-item  class="background" no-padding *ngFor="let item of shop.order_v2_items">
          <ion-row>
          <ion-col><img   class="cut"  src="{{item.item_images.split(',')[0]}}"></ion-col>
           <ion-col text-wrap>
            <div>{{item.item_name}}</div>
            </ion-col>
          <ion-col text-end>
            ￥ {{item.item_price}}
            <p style="margin-top:2px">× {{item.count}}</p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-end>
          <p style="color:black"><font size="1px">总价 ￥{{shop.order_user_total_money_raw}} &nbsp;&nbsp; 已优惠 ￥{{shop.order_user_total_money_discount}} &nbsp;&nbsp;还需付 ￥{{shop.order_user_total_money_need_pay}}</font></p>
            <ion-col text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1"><font size="3px" color="#ffab3d">电子提货码：{{shop.order_shop.delivery_code}}</font> </ion-col>
           <ion-row>
              <ion-col>
                <button ion-button outline small round *ngIf="shop.receiver_type == 1" (click)="xiangqing(shop.order_id)">提货详情</button>
                <button ion-button outline small round *ngIf="shop.receiver_type == 0" (click)="xiangqing(shop.order_id)">收货详情</button>
                  <button ion-button outline round small (click)="confirm_receipt(shop.order_id)">确认收货</button>
              </ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px"> 自提地址：{{shop.order_shop.shop_address_detail}}</font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px"> 收货地址：{{shop.order_receiver.receiver_address_detail}}</font></ion-col>
            </ion-row>
        </ion-item>

      </ion-grid>

    </ion-list>
<!--待评价暂时隐藏-->
    <!--ion-list *ngSwitchCase="'4'" class="xue" >
      <ion-card class="back" *ngFor="let shop of daipingjiaList">
        <ion-card-header>
          订单号:{{shop.order_id}}
        </ion-card-header>
        <ion-card-content class="bb">
          <ion-list no-lines style="border-top: 1px solid #ccc;">
            <ion-item class="bb">
              <ion-row center *ngFor="let item of shop.order_v2_items">
                <ion-col width-30><img class="imgimg" src={{item.item_images}} ></ion-col>
                <ion-col text-wrap  style="text-align: left;font-size: 16px;">{{item.item_name}}</ion-col>
                <ion-col text-wrap  style="text-align: left;font-size: 16px;">￥{{item.item_price}}</ion-col>
                <ion-col width-40  style="text-align: left;font-size: 16px;"> 数量:{{item.count}}</ion-col>
              </ion-row>
            </ion-item>

            <ion-item style="border-top: 1px solid #ccc;" class="bb">
              <ion-row center>
                <ion-col text-wrap style="text-align: left;font-size: 14px;">&nbsp;&nbsp;总价格 ￥{{shop.order_user_total_money_need_pay}}</ion-col>
              </ion-row>
              <ion-row center>
                <ion-col text-wrap style="text-align: left;font-size: 14px;">收货人：{{shop.user_nickname}}</ion-col>
                <ion-col text-wrap style="text-align: left;font-size: 14px;">&nbsp;&nbsp;电话：{{shop.user_phone}}</ion-col>
              </ion-row>
            </ion-item>

            <ion-row>
              <ion-col>
                <button ion-button clear (click)="pingjia()">去评价</button>
              </ion-col>
            </ion-row>

          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list-->
    <ion-list *ngSwitchCase="'6'" class="list_style" no-padding>
          <p  *ngIf = "flag_lishidingdan" text-center>
                <font size="5px" color="#b0c4de">
                暂无相关订单
             </font>

            </p>
       <ion-grid *ngFor="let shop of lishidingdanList">
         <ion-row *ngIf="shop.flag == false || 0">
             <font size="3px" color="#ff7f50" text-center style="margin-left: 5px">礼包</font>
         </ion-row>
        <ion-row>
           <ion-col col-8 style="color:red;">订单号:{{shop.order_id}}</ion-col>
            <ion-col text-end *ngIf="shop.order_status == 0">状态：待付款</ion-col>
            <ion-col text-end *ngIf="shop.order_status == 2">状态：待发货</ion-col>
            <ion-col text-end *ngIf="shop.order_status == 3">状态：待收货</ion-col>
            <ion-col text-end *ngIf="shop.order_status == 4">状态：已完成</ion-col>
            <ion-col text-end *ngIf="shop.order_status == 5">状态：已完成</ion-col>
        </ion-row>

        <ion-item  class="background" no-padding *ngFor="let item of shop.order_v2_items">
          <ion-row>
          <ion-col><img   class="cut"  src="{{item.item_images.split(',')[0]}}"></ion-col>
           <ion-col text-wrap>
            <div>{{item.item_name}}</div>
            </ion-col>
          <ion-col text-end>
            ￥ {{item.item_price}}
            <p style="margin-top:2px">× {{item.count}}</p>
          </ion-col>
          </ion-row>
        </ion-item>
        <ion-item text-end>
          <p style="color:black"><font size="1px">总价 ￥{{shop.order_user_total_money_raw}} &nbsp;&nbsp; 已优惠 ￥{{shop.order_user_total_money_discount}} &nbsp;&nbsp;还需付 ￥{{shop.order_user_total_money_need_pay}}</font></p>
           <ion-row>
              <ion-col>
                <button ion-button outline small round *ngIf="shop.receiver_type == 1" (click)="xiangqing(shop.order_id)">提货详情</button>
                <button ion-button outline small round *ngIf="shop.receiver_type == 0" (click)="xiangqing(shop.order_id)">收货详情</button>
              </ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px">收货人 {{shop.order_receiver.receiver_name}} 联系电话 {{shop.user_phone}} </font></ion-col>
            </ion-row>
            <ion-row text-wrap *ngIf="xiangqing_flag">
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 1 && shop.order_id == order_id" ><font size="1px"> 自提地址：{{shop.order_shop.shop_address_detail}}</font></ion-col>
                <ion-col text-end text-wrap style="text-align: left;font-size: 14px;" *ngIf="shop.receiver_type == 0 && shop.order_id == order_id" ><font size="1px"> 收货地址：{{shop.order_receiver.receiver_address_detail}}</font></ion-col>
            </ion-row>
        </ion-item>

      </ion-grid>

    </ion-list>
  </div>
</ion-content>
