page-packs-details {

      .toolbar-background {
    background: #fff;
    border-color: transparent;
  }
   .cut{
    background: #e5c3b2; height: 309px; width: 720px;	
 }
 .title{
   font-weight: bold;
 }
 .content{
   padding: 0;
 }
}
