page-log-in {
  .button-right{
    float:right;
    background: whitesmoke;
  }
  .login{
    background: white;
  }
  .button{
    margin-top: 50px;
    background: white;
  }
  .ye{

  }
  .tu{
    margin-top: 60px;
  }
  .top{
    margin-top: 20px;
  }
}
