<ion-header>
  <ion-navbar color="nice">
    <ion-title>天参密码</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="all">
  <ion-list>
    <ion-slides  pager autoplay="2000" inititalSlide="0" loop="true"  class="s">
      <ion-slide *ngFor="let s of slideData" >
        <img src="{{s.image}}" class="tpp">
      </ion-slide>
    </ion-slides>

    <ion-grid class="wd">
      <ion-grid no-padding>

      <!--<div class="myxxx"></div>-->
      <!--<ion-row class="tuiguang">-->
        <!--<div><font size="3px" color=#d3d3d3>推广中心</font> </div>-->
      <!--</ion-row>-->
        <ion-row>
          <ion-item no-lines>
            <div align="center">
              <font size="3.5px" color="#FF6633" Cursive>公司介绍</font>
            </div>
          </ion-item>
        </ion-row>
        <ion-row  no-padding>
          <ion-item class="jieshao" *ngIf="flag==0" text-wrap no-lines>&emsp;&emsp;<p (click)="up()" *ngIf="flag==0"> &emsp;&emsp;天参密码新商业（威海）有限公司秉承用科技重塑传统滋补精品的理念，在中外顶尖制参工艺的基础上，坚持自主研发，现已发明多款世界顶级人参产品......>>> </p>
          <!--<ion-note item-end style="margin-top: 20px" ><font size="2px">展开</font> </ion-note>-->
          </ion-item>

        </ion-row>

        <ion-row class="showdetail">
          <!--<button ion-button (click)="up()" *ngIf="flag==0" clear style="margin-top:-45px"><ion-note>展开</ion-note></button>-->
          <div *ngIf="flag==1">
            <ion-item text-wrap no-lines style="margin-top: -8px">
            <p style="color: #60646B">
                &emsp;&emsp;天参密码新商业（威海）有限公司秉承用科技重塑传统滋补精品的理念，在中外顶尖制参工艺的基础上，坚持自主研发，现已发明多款世界顶级人参产品。公司研发团队拥有5名中科院、工程院院士及近10名国际顶尖人参专家，并与中科院合作设立了中科院红参研发中心。<br>
                &emsp;&emsp;公司在国外拥有四个人参基地，所有人参原料均为进口有机人参，公司生产基地占地400亩，并采用10万级GMP标准建设，是国内规模最大、标准最高、设备最先进的人参深加工基地。<br>
                &emsp;&emsp;公司打造的天参密码系列产品，在世界范围内均拥有绝对技术领先优势，未来势将成为国内高端滋补行业的龙头产品。
            </p>
            </ion-item>
            <button ion-button *ngIf="flag==1" (click)="down()" clear full class="btn"><ion-note>收起</ion-note></button>
          </div>
        </ion-row>
        <div class="myxxx"></div>
        <ion-row (click)="alert_huancui()" class="alert_huancui">
          <!--<ion-item class="sw" no-lines> <font size="3.5px" color="#FF6633" class="serif">公司公告</font></ion-item>-->
            <font size="1px" class="gonggao" color="#DAA520">*公告:&ensp; 关于召开首次天参密码招商会的公告</font>

        </ion-row>

      <ion-row class="spsp">
        <ion-col  (click)="videos()">
          <ion-grid>
            <ion-row>
            <ion-col col-5>     <div align="center" >
              <font size="6px" color="#ffab3d">
                <ion-icon name="aperture" large></ion-icon>
              </font>
            </div>
            </ion-col>
     <ion-col>
       <ion-grid>
         <ion-row>
           <ion-col class="sps">
       <font size="4px" color="#FF6633"><h6>公司视频</h6></font>
           </ion-col>
         </ion-row>
         <ion-row>
           <ion-col class="more">
           <p>查看更多</p>
           </ion-col>
         </ion-row>
       </ion-grid>
     </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col >
          <ion-grid>
            <ion-row>
              <ion-col col-5 (click)="article()">
              <div align="center">
            <font size="6px" color="#87ceeb">
              <ion-icon name="book" large></ion-icon>
            </font>
          </div>
        </ion-col>
              <ion-col (click)="article()">
                <ion-grid >
                  <ion-row>
                    <ion-col class="sps" >
                      <font size="4px" color="#FF6633"><h6>公司文章</h6></font>
                    </ion-col>
                  </ion-row>
                  <ion-row >
                    <ion-col class="more">
                      <p>查看更多</p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>


        <ion-row class="star">
          <ion-col  (click)="qidai('middle')" >
            <ion-grid>
              <ion-row>
                <ion-col col-5>     <div align="center" >
                  <font size="6px" color="#90ee90">
                    <ion-icon name="ribbon" large></ion-icon>
                  </font>
                </div>
                </ion-col>
                <ion-col>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="sps">
                        <font size="4px" color="#FF6633"><h6>天参大明星</h6></font>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="more">
                        <p>查看更多</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>

          <ion-col  (click)="qidai('middle')" >
            <ion-grid>
              <ion-row>
                <ion-col col-5>
                  <div align="center">
                    <font size="6px" color="#ffa07a">
                      <ion-icon name="thumbs-up" large></ion-icon>
                    </font>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="sps">
                        <font size="4px" color="#FF6633"><h6>顶级科研团队</h6></font>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="more">
                        <p>查看更多</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>



        <ion-row class="star">
          <ion-col col-6 (click)="qidai('middle')">
            <ion-grid>
              <ion-row>
                <ion-col col-5>
                  <div align="center">
                    <font size="6px" color="#7cfc00">
                      <ion-icon name="globe" large></ion-icon>
                    </font>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-grid>
                    <ion-row>
                      <ion-col class="sps">
                        <font size="4px" color="#FF6633"><h6>学术纵横</h6></font>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col class="more">
                        <p>查看更多</p>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>

      </ion-grid>

</ion-grid>
  </ion-list>
</ion-content>
