page-shop {
  .all{
    background: #eee;
  }
  .s{
    //background-image: url('../../assets/img/长白山.jpg');
 //  margin-top: -500px;
    margin:-0px !important;
    border:0px !important;
    padding:0px !important;
    // height: 230px
  }
  .slide-image{
    margin-top: 300px;
    max-height: 50%;
  }
  .tpp{
   // height: 250px;width:500px;
  }
.sp{
  margin-top: -12px;
  color: black;
}

  .sps{
    margin-top: -25px;
    margin-left: -10px;
  }
.more{
  margin-top: -30px;
  margin-left: -10px;
  color: #dddddd;
}
  .gs{
    height: 150px;
    // background: 	#008080;
    // background-image: url('../../assets/img/长白山.jpg');
  }
  .head{
    height: 55px;
    margin-top: -10px;
    background: white;
 //   background-image: url('../../assets/img/雪山.jpg') ;
  }
  .spsp{
   background:white;
    margin-top: 15px;

  }
  .gsjs{
    color: black;
  }
  .sp{
    color: lightgray;
    background: lightyellow;
  }
  .gsgs{
    //background: whitesmoke;
    margin-top: 5px;
    color: #c8dcff;
  }
  .wz{
    background: white;
  }
  .hb{
    //background: whitesmoke;
    color: aqua;
    margin-top: 5px;
    background: white;
  }
.hz{
  color: #c8dcff;
}
  .img{
    width: 20px;
  }
  .yjjz{
    color: black;
  }
  .zl{
    color: black;
  }
  .gd{
    color: lightgray;
  }
  .cksp{
    color: lightgray;
  }
  .zj{ background: whitesmoke}
}
.wd{
  //background-image: url('../../assets/img/雪山.jpg');;
  background: whitesmoke;
}
.myx{
  border: 0.05px ridge white;
}
.jl{
  background:white;
}
.js{
  background: white;
  margin-top: 5px;
}
.show{
  background: white;
  color: aqua;
  margin-top: 60px;
}
.wenz{
  background: white;
  color: aqua;
}
.ca{
  background: white;
}
.xue{
  background: whitesmoke;
}
.tgzxs{
  margin-top: 30px;
}
.tuiguang{
  background: whitesmoke;
  margin-top: 22px;
}
.star{
  background: white;
  margin-top: -20px;
}
.showdetail{
  background: white;
  //margin-top: 3px;
}
.spcolor{
  color: lightblue;
}
.serif{
  font-family: "Microsoft YaHei";
}
div.border{
  border: 6.7px solid ;
}
.btn{
  margin-top: -10px;
}
.jieshao{
  margin-top: -15px;
  background: white;
}
.gonggao{
  margin-left: 45px;
}
.alert_huancui{
  margin-top: 8px;
}

