page-user-wallet {
  .zc{
    margin-top:-20px;
  }
  .zd{
    margin-top:-26px;
    background: white;
  }
    .lj{
      margin-left:7px;
    }
  .sy{
    margin-top:-10px;
    margin-left: 30px;
  }
    .money{
      background:white ;
      margin-top: 0px;
    }
    .mm{
      margin-top: 0px;
      background: red;
      height: 180px;
    }
    .zc{
      margin-top: 3px;
      background: white;
    }
    .myx{
      border: 0.05px solid whitesmoke;
    }
    .di{
      border: 0.05px solid whitesmoke;
    }
    .yu{
   background: white;
  
    }
    .m{
      color: black;
    }
    .did{
      border: 0.05px solid lightgrey;
    }
    .s{
      color: whitesmoke;
    }
    .snl{
      background: yellow;
  
    }
    .ghkzh{
      margin-top: -10px;
    }
    .jfen{
      background: lightgreen;
  
    }
    .gg{
      background: white;
     // margin-top: -40px;
  
    }
    .gird{
      background: lightsalmon;
    }
    .row{
  
    }
    .cztx{
      margin-top: -50px;
      background: white;
    }
    .icon{
      margin-right: 10px;
    }
    .iconx{
      border: 0.05px solid lightsalmon;
    }
    .color{
      background: white;
    }
    .zazaza{
      background:#ffab3d ;
    }
    ion-header{
     background: #ffab3d;
    }
    #float_style{
   //   border-style: ridge;
      border-radius: 15px;
    }
  }
  