 
 .wdzh{
   background: white;
 }
 .z{
   background: #eee;
   margin-top: -5px;

 }
 .zzzzz{
   height: 80px;
 }
  .fx{
    margin-left: 10px;
  }
  .dh{
    margin-left: 10px;
  }
.cz{
  margin-top:-2px;
  //color:#007aff;
}
 .jyjl{
   margin-top:-2px;
  // color:#007aff;
 }
  .qbgl{
    margin-top:-2px;
  //  color:#007aff;
  }
 .wddd{
   margin-top:-2px;
 //  color: #fbb6b6;
 }
.wdzj{
  margin-top:-2px;
}
.wdsc{
  margin-top:-2px;
}
.bfjl{
  margin-top:-2px;
}
.shdz{
  margin-top:-2px;
}
.yqhb{
  margin-top:-2px;
}
.fxhb{
  margin-top:-2px;
}
.xtfk{margin-top:-3px;}
.lxwm{margin-top:-3px;}
.tp{
  background: #e5c3b2; height: 50px; width: 50px;	-moz-border-radius: 25px; -webkit-border-radius:25px; border-radius: 25px;

}
.sss{
  background: lightsalmon;
}
.dhd{
  background: white;
  margin-top:10px;
}
.fxfx{
  background: white;
  margin-top: 10px;
}
.qt{
  background: white;
  margin-top: 10px;
}
.info{
margin-top: -20px;
  background: white;
}
.owncolor{
  background: white;
}
.colorcolor{
  background: #ffab3d;
  margin-top: 5px;
  height: 150px;
}
.cztx{
  margin-top: -50px;
  background: #eee;
  //height: 120px;
}
.c{
  background: white;
  height: 80px;
}
.set{
  color: white;
  margin-left: 100px;
}
 .xian{
   border: 0.5px solid #ffab3d;
 }
.s{
  background: white;
}
#float_style{
  border-radius: 20px;
}
.name{

  font-size: 23px;
  color: white;
  
}
.avatar_name{
  display: inline-block;
}
.name{
  color: white;
  font-size: 23px;
  margin-top: 30px;
}
.whole{
  display: flex;

}
.setting{
  width: 100%;
  margin-top:10px;
  padding-right: 15px;
  margin-bottom: -10px;
  text-align: right;
}
.xian{
  width:1px;
  border:1.8px solid red;
  border-radius: 100px;
  height:20px;
  margin-top:3px;
  margin-left:3px;
}
.xian1{
  width:1px;
  border:1.8px solid #9F79EE;
  border-radius: 100px;
  height:20px;
  margin-top:3px;
  margin-left:3px;
}
.xian2{
  width:1px;
  border:1.8px solid #90EE90;
  border-radius: 100px;
  height:20px;
  margin-top:3px;
  margin-left:3px;
}
.xian3{
  width:1px;
  border:1.8px solid #6B8E23;
  border-radius: 100px;
  height:20px;
  margin-top:3px;
  margin-left:3px;
}