page-infomation {

  .bank{
    color: lightgray;
  }
  .background{
    background: whitesmoke;
  }
  .button_margin{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 10%;
    width: 80%;
    border-radius: 5px;
  }
}
