page-person-info {
  .background{
    background: whitesmoke;
  }
  .button-right{
    float:right;
  }
  .action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}
.circular--squareP{
    border-radius:50%;
}
  .button_margin{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 25px;
    margin-left: 10%;
    width: 80%;
    border-radius: 5px;
  }
}
