page-two {

/*  #img{
    // background: #e13838;
    height: 50px;
    width: 50px;
    -moz-border-redius:50px;
    -wekkit-border-redius:50px;
    border-radius:25px;
  }
*/
  .aaa{
    background:	whitesmoke;
  }
  .right{
    float:right;
  }
  .column{
    flex-flow: column;
  }
}
